.BoardContainer {
  width: 1480px;
  height: 1480px;
  background-color: lightgrey;
  position: relative;
  left: 50px;
}

.Board-prop {
  position: absolute;
  border: 1px solid black;
  height: 200px;
  background-color: white;
}

.property {
  width: 120px
}

.corner {
  width: 200px
}

.colour {
  width: 100%;
  height: 30px;
}

.c1 {
  background-color: blue;
}
.c2 {
  background-color: brown;
}
.c3 {
  background-color: pink;
}
.c4 {
  background-color: orange;
}
.c5 {
  background-color: red;
}
.c6 {
  background-color: yellow;
}
.c7 {
  background-color: green;
}
.c8 {
  background-color: purple;
}

.property .content {
  padding: 5px 10px;
}

.corner .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.corner-img {
  width: 160px;
}

.property-img {
  width: 100px;
}