.App {
  text-align: center;
}

.activeBoard {
  left: 300px;
  position: absolute;
  margin-bottom: 150px;
  transition: 2s;
  transform: scale(0.7);
}

.notificationContainer {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 110;
}

.notificationContainer .notify{
  padding: 5px;
  background-color: #faebd79c;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
